# Django
DJANGO_SECRET_KEY=django_secret_key
DJANGO_HOST=0.0.0.0
DJANGO_PORT=8000

# Configuração http/https
DJANGO_ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost,https://localhost

# True: Desenvolvimento | False: Produção
DJANGO_DEBUG=True

# Database
POSTGRES_DB=django_db
POSTGRES_USER=django_user
POSTGRES_PASSWORD=django_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Waha
WAHA_PORT=3000
WAHA_API_KEY=waha_api_key
WAHA_DASHBOARD_USER=admin
WAHA_DASHBOARD_PASS=admin
WAHA_SWAGGER_USER=admin
WAHA_SWAGGER_PASS=admin
WAHA_PRINT_QR=false
WAHA_LOG_LEVEL=info

# WAHA Worker/Session
WAHA_ENGINE=WEBJS
WAHA_START_SESSION=default
WAHA_RESTART_SESSIONS=true

# GVDASA API
GVDASA_BASE_URL=https://exemplegvdasa.com.br
GVDASA_API_KEY=example_gvdasa_api_key

# Microsoft auth
AZURE_TENANT_ID=example_tenant_id
AZURE_CLIENT_ID=example_client_id
AZURE_CLIENT_SECRET=example_secret
